.lesson-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.lessons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-lessons-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-lessons-list {
  color: var(--highlight-color);
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.yes-lessons-list {
  color: var(--secondary-color);
  font-weight: bold;
}

.pagination-wrapper {
  margin-top: 2rem;
  padding: 1rem 0.5rem;
  background-color: var(--pagination-bg-color);
  color: var(--highlight-color);

  &.pagination-wrapper-top {
    margin-bottom: 2rem;
  }
}