.features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.feature {
  padding: 2.5rem 1.8rem;
  border-radius: 15px;
  background-color: var(--primary-color-contrast);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: 1.8rem;
}

.feature-title {
  color: var(--secondary-color);
  font-size: 1.25rem;
}