#footer {
  padding: 1.25rem 0;
  background-color: var(--primary-color-contrast);
  color: var(--secondary-color);
  text-align: center;
}

.footer-title, 
.footer-subtitle {
  font-size: 1.1rem;
}

.footer-title {
  margin-bottom: 0.3rem;
}

.footer-link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}