#header {
  width: 100vw;
  height: 100vh; 
  background: url('../../assets/img/header_bg.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1.8rem;
}

.header-btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  font-weight: bold;
  padding: 0.6rem 1.25rem;
  border-radius: 3px;
  transition: var(--default-transition);

  &:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
  }
}

.header-btn-link {
  text-decoration: none;
  color: inherit;
}